body {
	margin: 0px auto; font-family: "Segoe UI", "Microsoft YaHei", "Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif, "Segoe UI Symbol";
}
p {
	margin: 0px; padding: 0px;
}
a {
	text-decoration: none; cursor: pointer;
}
img {
	border: 0px currentColor; border-image: none;
}
.more {
	text-decoration: none;
}
#slider:hover {
	cursor: pointer;
}
.f-logo {
	display: none;
}
.right_title .sub_more {
	font-size: 12px !important;
}
