.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.primary_button {
    display: flex;
    height: 40px;
    font-size: 18px;
}

.call_to_action_button{
    display: flex;
    width: auto;
    height: 55px;
    font-size: 25px;
}

.secondary_button{
    display: flex;
    width: auto;
    height: 35px;
    font-size: 16px;
    background: var(--secondary-button-color);
}

.secondary_button:hover{
    background: var(--secondary-button-color-hover);
}

.secondary_button:active {
    background: var(--secondary-button-color-visited);
}

.tertiary_button{
    display: flex;
    width: auto;
    height: 30px;
    font-size: 14px;
    background: var(--secondary-button-color);
}

.tertiary_button:hover{
    background: var(--secondary-button-color-hover);
}

.tertiary_button:active {
    background: var(--secondary-button-color-visited);
}

.content{
    /*padding: 50px 50px;*/
    display: flex;
}